<div>
  <nav>
    <ul class="d-flex justify-content-around bg-dark mb-4">
      <caption>
        <h1 class="text-primary">Todo App</h1>
      </caption>
      <li class="navbar">
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Liste</a
        >
      </li>
      <li class="navbar">
        <a
          routerLink="/createTodo"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >neues Todo anlegen</a
        >
      </li>
      <li class="navbar">
        <a
          routerLink="/settings"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Einstellungen</a
        >
      </li>
    </ul>
  </nav>
</div>
